<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
 <Properties>
        <!-- Logging Patterns -->
        <!-- fullPatternLayout will produce:  -->
        <!-- 2014-11-24 10:45:52,082 - [thread_id][ip_address:session_id] DEBUG: MyClass: MyMessage  -->
        <Property name="fullpatternLayout">%d{ISO8601} %logger{9.9..} [%-X{tid}][%-X{gid}:%-X{uid}] %-5p - %m%n</Property>
        
        <!-- patternLayout will produce -->
         <!-- 2014-11-24 10:45:52,082 - [thread_name] DEBUG: MyClass: MyMessage -->
        <Property name="patternLayout">%d{ISO8601} [%t] %-5p - %logger{9.9.3*.} --- %m%n</Property>
   
        <!-- More on patterns here: http://logging.apache.org/log4j/2.0/manual/layouts.html#PatternLayout -->
    </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${patternLayout}"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.foo.Bar" level="trace">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="all">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>